<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="En CUFA trabajamos para que disfrutes cada bocado! Platos saludables, postres exquisitos y un mercadito con productos gourmet que te va a encantar! ">
    <meta name="keywords"
        content="almuerzo, sushi, ensaladas, tortas, pasteleria, productos gourmet, restaurante en caba, tortas personalizadas">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>CUFA - Especialidades Dulces</title>
</head>

<body>
    <!--encabezado-->
    <header class="header">
        <div class="header__div">
            <a href="../index.html"><img src="../multimedia/logo.jpg" alt="Logo" width="50px" height="50px"></a>

        </div>
        <nav class="menu">
            <a class="menu__link" href="../index.html">Inicio</a>
            <a class="menu__link" href="empresa.html">Nosotros</a>
            <a class="menu__link" href="panaderia.html">Panaderia</a>
            <a class="menu__link" href="confiteria.html">Dulce</a>
            <a class="menu__link" href="resto.html">Salado</a>
            <a class="menu__link" href="mercadito.html">Mercadito</a>
            <a class="menu__link" href="contacto.html">Contacto</a>
        </nav>
    </header>
    <!--grilla de productos-->

    <main class="grillaProductos">

        <article>
            <figure class="article-card__image">
                <img width="300"
                    src="https://images.pexels.com/photos/2144200/pexels-photo-2144200.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=300" />
            </figure>
            <div class="article-card__content">
                <h1 class="article-card__title">Tortas</h1>
                <p class="article-card__text">Con chocolate, con frutas, con mousse.. Tenemos siempre en stock tortas
                    enteras y en porciones para que te lleves en el momento!</p>
            </div>
        </article>

        <article>
            <figure class="article-card__image">
                <img width="300"
                    src="https://images.pexels.com/photos/1070850/pexels-photo-1070850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=300" />
            </figure>
            <div class="article-card__content">
                <h1 class="article-card__title">Tortas por pedido</h1>
                <p class="article-card__text">Tenes un evento? Cumples, casamientos, bautismos. <br>
                    Contanos con que torta soñas y la hacemos realidad!</p>
            </div>
        </article>

        <article>
            <figure class="article-card__image">
                <img width="300"
                    src="https://images.pexels.com/photos/1028704/pexels-photo-1028704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=300" />
            </figure>
            <div class="article-card__content">
                <h1 class="article-card__title">Cupcakes</h1>
                <p class="article-card__text"> La base de bizcochuelo más esponjosa con el relleno y decoración que
                    elijas! <br>
                    Opción de personalización con sticker o impresion off set</p>
            </div>
        </article>
        </div>
    </main>


    <!--pie de pagina-->
    <footer class="footer">
        <div class="footer__elementos">
            <div class="footer__elementos--about">
                <h5>Sobre CUFA</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur soluta vitae eveniet esse quod
                    dolorum excepturi, beatae et impedit velit deserunt, eaque error facilis laboriosam?.. </p><br> <a
                    href="empresa.html">SEGUI LEYENDO</a>
            </div>

            <div class="footer__elementos--mapa">
                <h5 class="tituloCentrado">Mapa del Sitio</h5>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="empresa.html">Nosotros</a></li>
                    <li><a href="panaderia.html">Panaderia</a></li>
                    <li><a href="confiteria.html">Dulce</a></li>
                    <li><a href="resto.html">Salado</a></li>
                    <li><a href="mercadito.html">Mercadito</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="footer__elementos--direccion">
                <h5>Contacto</h5>
                011 4006-1600 <br> 011 6970 1974 <br> <a href="mailto:info@cufa.com.ar">info@cufa.com.ar</a> <br> Av La
                Plata 123 <br>
                CABA - Buenos Aires <br>
                Argentina
            </div>
        </div>
    </footer>
</body>

</html>