<!DOCTYPE html>
<html lang="es">
< <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <!--fuente fredoka-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>CUFA - Contacto</title>
    </head>

    <body>
        <!--encabezado-->
        <header class="header">
            <div class="header__div">
                <a href="../index.html"><img src="../multimedia/logo.jpg" alt="Logo" width="50px" height="50px"></a>


            </div>
            <nav class="menu">
                <a class="menu__link" href="../index.html">Inicio</a>
                <a class="menu__link" href="empresa.html">Nosotros</a>
                <a class="menu__link" href="panaderia.html">Panaderia</a>
                <a class="menu__link" href="confiteria.html">Dulce</a>
                <a class="menu__link" href="resto.html">Salado</a>
                <a class="menu__link" href="mercadito.html">Mercadito</a>
                <a class="menu__link" href="contacto.html">Contacto</a>
            </nav>
        </header>

        <main>
<div class="contactoWrap">
    <form class='contacto'>
        <div><label>Nombre:</label><input type='text' value=''></div>
        <div><label>Correo:</label><input type='email' value=''></div>
        <div><label>Asunto:</label><input type='text' value=''></div>
        <div><label>Mensaje:</label><textarea rows='6'></textarea></div>
        <div><input type='submit' value='Enviar'></div>
    </form>
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.5073990203523!2d-58.43131328476999!3d-34.616615880456195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca44aa1db4ff%3A0xf1ea0b96fe2c1433!2sAv.%20La%20Plata%20123%2C%20C1212%20CABA!5e0!3m2!1ses-419!2sar!4v1624305229312!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>



        </main>



        <!--pie de pagina-->
        <footer class="footer">
            <div class="footer__elementos">
                <div class="footer__elementos--about">
                    <h5>Sobre CUFA</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur soluta vitae eveniet esse quod
                        dolorum excepturi, beatae et impedit velit deserunt, eaque error facilis laboriosam?.. </p><br>
                    <a href="views/empresa.html">SEGUI LEYENDO</a>
                </div>

                <div class="footer__elementos--mapa">
                    <h5 class="tituloCentrado">Mapa del Sitio</h5>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="empresa.html">Nosotros</a></li>
                        <li><a href="panaderia.html">Panaderia</a></li>
                        <li><a href="confiteria.html">Dulce</a></li>
                        <li><a href="resto.html">Salado</a></li>
                        <li><a href="mercadito.html">Mercadito</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                </div>
                <div class="footer__elementos--direccion">
                    <h5>Contacto</h5>
                    011 4006-1600 <br> 011 6970 1974 <br> <a href="mailto:info@cufa.com.ar">info@cufa.com.ar</a> <br> Av
                    La Plata 123 <br>
                    CABA - Buenos Aires <br>
                    Argentina
                </div>
            </div>
        </footer>
    </body>

</html>