<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="En CUFA trabajamos para que disfrutes cada bocado! Platos saludables, postres exquisitos y un mercadito con productos gourmet que te va a encantar! ">
    <meta name="keywords"
        content="almuerzo, sushi, ensaladas, tortas, pasteleria, productos gourmet, restaurante en caba, tortas personalizadas">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <!--Fuente Lato-->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>CUFA - Nosotros</title>
</head>

<body>
    <!--encabezado-->
    <header class="header">
        <div class="header__div">
            <a href="../index.html"><img src="../multimedia/logo.jpg" alt="Logo" width="50px" height="50px"></a>


        </div>
        <nav class="menu">
            <a class="menu__link" href="../index.html">Inicio</a>
            <a class="menu__link" href="empresa.html">Nosotros</a>
            <a class="menu__link" href="panaderia.html">Panaderia</a>
            <a class="menu__link" href="confiteria.html">Dulce</a>
            <a class="menu__link" href="resto.html">Salado</a>
            <a class="menu__link" href="mercadito.html">Mercadito</a>
            <a class="menu__link" href="contacto.html">Contacto</a>
        </nav>
    </header>
    <main class="empresa">
        <div class="fotoempresa">
            <img class="fotoempresa" src="../multimedia/empresa.jpg" alt="Foto de empresa">

        </div>
        <div class="textoempresa">
            <h1 class="textoempresa__titulo">Como nació CUFA?</h1>
            <p class="textoempresa__texto">

                <div class="parrafo">Somos dos amigas apasionadas por la cocina. Nuestro mejor plan era ir a cenar, juntarnos a
                    almorzar.. hasta que nos decidimos y nos anotamos en un curso de cocina.</div>
                <div class="parrafo">Ese fue el punto de partida. Después de mucho estudio y práctica nos lanzamos primero con un
                    negocio muy chiquito dedicado a la pasteleria en 2014.
                    Con mucha dedicación, esfuerzo y con ganas de dar siempre lo mejor, en 2017 nos mudamos a un local
                    más grande y agregamos la sección de platos para el almuerzo. </div>
                <div class="parrafo">Hoy en día CUFA ofrece una variada propuesta de platos para disfrutar en nuestro salón.
                    Una selección de panes para disfrutar, tortas para el desayuno, almuerzos saludables y un mercadito
                    con productos gourmet especialmente elegidos.</div>
                <div class="parrafo">Trabajamos para que disfrutes cada bocado!</div>



            </p>
        </div>



    </main>



    <!--pie de pagina-->
    <footer class="footer">
        <div class="footer__elementos">
            <div class="footer__elementos--about">
                <h5>Sobre CUFA</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur soluta vitae eveniet esse quod
                    dolorum excepturi, beatae et impedit velit deserunt, eaque error facilis laboriosam?.. </p><br> <a
                    href="empresa.html">SEGUI LEYENDO</a>
            </div>

            <div class="footer__elementos--mapa">
                <h5 class="tituloCentrado">Mapa del Sitio</h5>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="empresa.html">Nosotros</a></li>
                    <li><a href="panaderia.html">Panaderia</a></li>
                    <li><a href="confiteria.html">Dulce</a></li>
                    <li><a href="resto.html">Salado</a></li>
                    <li><a href="mercadito.html">Mercadito</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="footer__elementos--direccion">
                <h5>Contacto</h5>
                011 4006-1600 <br> 011 6970 1974 <br> <a href="mailto:info@cufa.com.ar">info@cufa.com.ar</a> <br> Av La
                Plata 123 <br>
                CABA - Buenos Aires <br>
                Argentina
            </div>
        </div>
    </footer>
</body>

</html>