<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <!--Fuente Lato-->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>CUFA - Nosotros</title>
</head>

<body>
    <!--encabezado-->
    <header class="header">
        <div class="header__div">
            <a href="../index.html"><img src="../multimedia/logo.jpg" alt="Logo" width="50px" height="50px"></a>


        </div>
        <nav class="menu">
            <a class="menu__link" href="../index.html">Inicio</a>
            <a class="menu__link" href="empresa.html">Nosotros</a>
            <a class="menu__link" href="panaderia.html">Panaderia</a>
            <a class="menu__link" href="confiteria.html">Dulce</a>
            <a class="menu__link" href="resto.html">Salado</a>
            <a class="menu__link" href="mercadito.html">Mercadito</a>
            <a class="menu__link" href="contacto.html">Contacto</a>
        </nav>
    </header>
    <main class="empresa">
        <div class="fotoempresa">
            <img class = "fotoempresa" src="../multimedia/empresa.jpg" alt="Foto de empresa">

        </div>
        <div class="textoempresa">
            <h1 class="textoempresa__titulo">Como nació CUFA?</h1>
            <p class="textoempresa__texto">Harina, cocoas, frutas, recetas únicas y mucho cariño, son los ingredientes claves del proyecto “From Aaron´s Kitchen”, con el que una madre e hija emprenden para ofrecer postres con sabores inolvidables a sus clientes.

                Con la pandemia han sido muchos los guatemaltecos que han decidido emerger y ofrecer algo distinto para los que se quedan en casa y ese es el caso de este emprendimiento, que tiene, además, un valor agregado, las recetas que preparan han sido heredadas dentro de la familia y ofrecen un toque único.
                
                En entrevista para La Hora, Mercedes Muñoz Grippen y Mercedes Gabriela Lima Muñoz, madre e hija, explicaron que la idea de este proyecto inició hace tres años y fue una amiga, Mabel de Barrios, quien las instó a hacerlo y se ofreció a ayudarles con las ventas.
                
                La Hora contacto a las creadoras de las recetas “From Aaron´s Kitchen”, a través del grupo en Facebook de Mujeres Aliadas Guatemaltecas (MAG), que nació de la idea de la comunicadora Bridget Poitán, con quien también conversamos en agosto pasado.
                
                Desde el principio vendían muy bien, pero buscaban perfeccionar sus recetas, así como el sabor y la consistencia de sus postres..
            </p>
        </div>
        


    </main>



    <!--pie de pagina-->
    <footer class="footer">
        <div class="footer__elementos">
            <div class="footer__elementos--about">
                <h5>Sobre CUFA</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur soluta vitae eveniet esse quod
                    dolorum excepturi, beatae et impedit velit deserunt, eaque error facilis laboriosam?.. </p><br> <a
                    href="empresa.html">SEGUI LEYENDO</a>
            </div>

            <div class="footer__elementos--mapa">
                <h5 class="tituloCentrado">Mapa del Sitio</h5>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="empresa.html">Nosotros</a></li>
                    <li><a href="panaderia.html">Panaderia</a></li>
                    <li><a href="confiteria.html">Dulce</a></li>
                    <li><a href="resto.html">Salado</a></li>
                    <li><a href="mercadito.html">Mercadito</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="footer__elementos--direccion">
                <h5>Contacto</h5>
                011 4006-1600 <br> 011 6970 1974 <br> <a href="mailto:info@cufa.com.ar">info@cufa.com.ar</a> <br> Av La
                Plata 123 <br>
                CABA - Buenos Aires <br>
                Argentina
            </div>
        </div>
    </footer>
</body>

</html>