<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <!--fuente fredoka-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/estilo.css">
  <title>CUFA - Panes y Galletas</title>
</head>

<body>
  <!--encabezado-->
  <header class="header">
    <div class="header__div">
      <a href="../index.html"><img src="../multimedia/logo.jpg" alt="Logo" width="50px" height="50px"></a>
    </div>
    <nav class="menu">
      <a class="menu__link" href="../index.html">Inicio</a>
      <a class="menu__link" href="empresa.html">Nosotros</a>
      <a class="menu__link" href="panaderia.html">Panaderia</a>
      <a class="menu__link" href="confiteria.html">Dulce</a>
      <a class="menu__link" href="resto.html">Salado</a>
      <a class="menu__link" href="mercadito.html">Mercadito</a>
      <a class="menu__link" href="contacto.html">Contacto</a>
    </nav>

  </header>

  <!--grilla de productos-->

  <main class="grillaProductos">
    <article>
      <figure class="article-card__image">
        <img width="300"
          src="https://images.pexels.com/photos/1775053/pexels-photo-1775053.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=300" />
      </figure>
      <div class="article-card__content">
        <h1 class="article-card__title">Panes</h1>
        <p class="article-card__text">Tenemos una enorme variedad de panes. Todos los podes encontrar con sal y en su
          versión sin sal. Baguettes, ciabattas, brioche y más&hellip;</p>
      </div>
    </article>

    <article>
      <figure class="article-card__image">
        <img width="300"
          src="https://images.pexels.com/photos/960662/pexels-photo-960662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=300" />
      </figure>
      <div class="article-card__content">
        <h1 class="article-card__title">Integrales</h1>
        <p class="article-card__text">Preferís panes integrales? En CUFA tenemos con todas las semillas y cereales que
          te puedas imaginar. &hellip;</p>
      </div>
    </article>

    <article>
      <figure class="article-card__image">
        <img width="300"
          src="https://images.pexels.com/photos/89690/pexels-photo-89690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=300" />
      </figure>
      <div class="article-card__content">
        <h1 class="article-card__title">Galletas</h1>
        <p class="article-card__text">Amamos las galletas! Crackers, marineras, con o sin sal, con pasas o chocolate.
          <br>
          En nuestro local podes encontrar todas las variedades! &hellip;</p>
      </div>
    </article>
  </main>
  <!--pie de pagina-->
  <footer class="footer">
    <div class="footer__elementos">
      <div class="footer__elementos--about">
        <h5>Sobre CUFA</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur soluta vitae eveniet esse quod dolorum
          excepturi, beatae et impedit velit deserunt, eaque error facilis laboriosam?.. </p><br> <a
          href="views/empresa.html">SEGUI LEYENDO</a>
      </div>

      <div class="footer__elementos--mapa">
        <h5 class="tituloCentrado">Mapa del Sitio</h5>
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="empresa.html">Nosotros</a></li>
          <li><a href="panaderia.html">Panaderia</a></li>
          <li><a href="confiteria.html">Dulce</a></li>
          <li><a href="resto.html">Salado</a></li>
          <li><a href="mercadito.html">Mercadito</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </div>
      <div class="footer__elementos--direccion">
        <h5>Contacto</h5>
        011 4006-1600 <br> 011 6970 1974 <br> <a href="mailto:info@cufa.com.ar">info@cufa.com.ar</a> <br> Av La Plata
        123 <br>
        CABA - Buenos Aires <br>
        Argentina
      </div>
    </div>
  </footer>
</body>

</html>