/*contacto.html*/




div.contactoWrap{
    display: flex;
    flex-flow: row wrap;
    margin-left: 80px;

   
}




.contacto label{
    display: block; 
    
}
.contacto div{
    margin-bottom: 15px; 
}

.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none; 
    border-radius: 10px;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none; 
    
}

.contacto input[type='email']{
    padding: 7px 6px;
    width: 294px; 
    border: 1px solid #CED5D7;
    resize: none; 
    border-radius: 10px;
    margin: 5px 0;

}

.contacto input[type='submit']{
    font-family: 'Varela Round', sans-serif;
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold; 
    
}

.fotocontacto{
    img{
        border-radius: 30px;
        width: 600px;
        margin-left: 100px;
    }    
}


