/*empresa.html*/
.empresa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;

  margin: 20px 25px;
  padding: 50px;
  border: solid 1px $aero;
  border-radius: 40px;

   .fotoempresa{
     padding-right: 10px;
     display: flex;
     flex-flow: column wrap;
       img{
         border-radius: 40px;
         width: 100%;
         height: auto;
       }

    }

    .textoempresa{
      color: $marron;
      line-height: 25px;
      text-align:justify;
      width: 500px;
       .textoempresa__titulo{
         font-family: $lato;
         text-align: left;
         color: $marron;
       }
       .textoempresa__texto{
         margin-top: 40px;
       }
       .parrafo{
        margin: 15px 5px;
       }

    }


       
       }

    
      

      


  

