/*empresa.html*/
.empresa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;

  margin: 20px 25px;
  padding: 50px;
  border: solid 1px $aero;
  border-radius: 40px;

   .fotoempresa{
     padding-right: 30px;
     display: flex;
     flex-flow: column wrap;
       img{
         border-radius: 20px;
         width: 100%;
         height: auto;
       }

   }

.textoempresa{
  width: 500px;
  height: 700px;
  align-items: stretch;
}

  }

