/*Variables*/
$rojo: #E32D2D;
$azul: #057989;
$crema: #F3969A;
$marron: #190E09;
$aero: #649381;
$lato: 'Lato', sans-serif;

@import "header";
@import "empresa";
@import "panaderia";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;

body {
    font-family: 'Varela Round', sans-serif;
}

}

img.index__foto {
    width: 100%;
    height: auto;
    margin-top: 3px;

}

footer.footer {
    background-color: $crema;
    height: auto;
    font-family: 'Varela Round', sans-serif;
    color: $marron;
    font-size: 0.90rem;
    padding: 30px;
    text-decoration: none;

     h5{
         padding-bottom: 10px;
         font-size: 1.2rem;
         font-family: 'Lato', sans-serif;
         
          }
    
    h5.tituloCentrado{
        text-align: center;
    }
         
     

    .footer__elementos {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        align-items: stretch;
        justify-content: stretch;
        


        .footer__elementos--about {
            width: auto;
            padding-bottom: 30px;
                        

            p {
               overflow: hidden;
            }

            a {
                color: white;
                background-color:$rojo;
                padding: 7px;
                text-decoration: none;
                border-radius: 5px;
                
                
            }
        }

        .footer__elementos--mapa{  

            ul {
                list-style: none;
                text-decoration: none;
                color: #190E09;
                text-align: center;
                
                }
                
                    li{
                                                        
                        a:link {
                            text-decoration: none;
                            color:#190E09;
                        }
                        a:visited {
                            text-decoration: none;
                            color: #190E09;
                        }
                        a:active {
                            text-decoration: none;
                            color: #190E09;
                        }
                        a:hover {
                            color: $rojo;

                        }
                    }
            }

            .footer__elementos--direccion{
                text-align: right;

                a:link {
                    text-decoration: none;
                    color:#190E09;
                }
                a:visited {
                    text-decoration: none;
                    color: #190E09;
                }
                a:active {
                    text-decoration: none;
                    color: #190E09;
                }
                a:hover {
                    color: $rojo;

                }
                
            }
        }

    }

    
  