/*header de index.html*/

header.headerindex {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    nav.headerindex__menu {
        padding: 20px;


     }
    a.headerindex__menu--link {
            color: $rojo;
            font-family: 'Varela Round', sans-serif;
            font-size: 1.1rem;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 5px;
            padding: 10px 15px;
            text-decoration: none;
            
        }
    
    .headerindex__menu--link:hover{
        border-bottom: solid 1px $rojo;
    } 
    }  

/*header views*/

header.header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;



    nav.menu {
        padding: 20px;

     }

}      a.menu__link {
            color: $rojo;
            font-family: 'Varela Round', sans-serif;
            font-size: 1.1rem;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 5px;
            padding: 10px 15px;
            text-decoration: none;
        }

        .menu__link:hover{
            border-bottom: solid 1px $rojo;
        
        }