/*Variables*/
/*header de index.html*/
header.headerindex {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  header.headerindex nav.headerindex__menu {
    padding: 20px; }
  header.headerindex a.headerindex__menu--link {
    color: #E32D2D;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    padding: 10px 15px;
    text-decoration: none; }
  header.headerindex .headerindex__menu--link:hover {
    border-bottom: solid 1px #E32D2D; }

/*header views*/
header.header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  header.header nav.menu {
    padding: 20px; }

a.menu__link {
  color: #E32D2D;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.1rem;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px 15px;
  text-decoration: none; }

.menu__link:hover {
  border-bottom: solid 1px #E32D2D; }

/*empresa.html*/
.empresa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 20px 25px;
  padding: 50px;
  border: solid 1px #83AF9B;
  border-radius: 40px; }
  .empresa .fotoempresa {
    padding-right: 10px;
    display: flex;
    flex-flow: column wrap; }
    .empresa .fotoempresa img {
      border-radius: 40px;
      width: 100%;
      height: auto; }
  .empresa .textoempresa {
    color: #190E09;
    line-height: 25px;
    text-align: justify;
    width: 500px; }
    .empresa .textoempresa .textoempresa__titulo {
      font-family: "Lato", sans-serif;
      text-align: left;
      color: #190E09; }
    .empresa .textoempresa .textoempresa__texto {
      margin-top: 40px; }
    .empresa .textoempresa .parrafo {
      margin: 15px 5px; }

/*panaderia.html*/
main.grillaProductos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: solid 1px #FC9D9A;
  border-radius: 15px; }
  main.grillaProductos article {
    margin: 0.5rem 1.5rem; }
  main.grillaProductos .article-card {
    background-color: #fad0e8;
    width: 300px;
    max-width: 15rem;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1.6rem -1.2rem rgba(0, 0, 0, 0.1);
    padding: 0 0 0.5rem; }
  main.grillaProductos .article-card__image {
    margin: 0;
    padding: 0.5rem;
    max-height: 16rem;
    overflow: hidden;
    border-radius: 0.5rem; }
  main.grillaProductos .article-card__image > img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem; }
  main.grillaProductos .article-card__content {
    padding: 1rem; }
  main.grillaProductos .article-card__title {
    font-family: "Lato", sans-serif;
    margin: 0.5rem 0 1rem;
    color: #FF619B;
    font-size: 1.8rem;
    font-weight: 700; }
  main.grillaProductos .article-card__text {
    font: 'Varela Round', sans-serif;
    color: #190E09;
    line-height: 1.4;
    margin: 1rem 0; }

/*confiteria.html*/
main.grillaProductos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: solid 1px #FC9D9A;
  border-radius: 15px; }
  main.grillaProductos article {
    margin: 0.5rem 1.5rem; }
  main.grillaProductos .article-card {
    background-color: #fad0e8;
    width: 300px;
    max-width: 15rem;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1.6rem -1.2rem rgba(0, 0, 0, 0.1);
    padding: 0 0 0.5rem; }
  main.grillaProductos .article-card__image {
    margin: 0;
    padding: 0.5rem;
    max-height: 16rem;
    overflow: hidden;
    border-radius: 0.5rem; }
  main.grillaProductos .article-card__image > img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem; }
  main.grillaProductos .article-card__content {
    padding: 1rem; }
  main.grillaProductos .article-card__title {
    font: 'lato', sans-serif;
    margin: 0.5rem 0 1rem;
    color: #FF619B;
    font-size: 1.8rem;
    font-weight: 700; }
  main.grillaProductos .article-card__text {
    font: 'Varela Round', sans-serif;
    color: #190E09;
    line-height: 1.4;
    margin: 1rem 0; }

div.grillaMercado {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 2rem; }

a.comprar {
  color: white;
  background-color: #E32D2D;
  padding: 7px;
  text-decoration: none;
  border-radius: 5px; }

.product-card {
  width: 380px;
  position: relative;
  box-shadow: 0 2px 17px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
  border: solid 1px #83AF9B;
  border-radius: 15px; }

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: #E32D2D;
  color: #fff;
  padding: 3px 10px; }

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
  border-radius: 15px; }

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px; }

.product-details {
  padding: 30px; }

.product-details h4 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  display: block;
  margin-bottom: 18px;
  color: #190E09;
  text-decoration: none;
  transition: 0.3s; }

.product-details h4:hover {
  color: #E32D2D;
  border-bottom: solid 1px #E32D2D; }

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999; }

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px; }

.product-bottom-details div {
  color: #E32D2D;
  float: left;
  width: 50%; }

.product-price {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px; }

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px; }

/*contacto.html*/
body {
  background-image: url(multimedia/fondo.jpg); }

div.contactoWrap {
  display: flex;
  flex-flow: row wrap;
  margin-left: 80px; }

.contacto label {
  display: block; }

.contacto div {
  margin-bottom: 15px; }

.contacto input[type='text'], .contacto textarea {
  padding: 7px 6px;
  width: 294px;
  border: 1px solid #CED5D7;
  resize: none;
  border-radius: 10px;
  margin: 5px 0; }

.contacto input[type='text']:focus, .contacto textarea:focus {
  outline: none; }

.contacto input[type='email'] {
  padding: 7px 6px;
  width: 294px;
  border: 1px solid #CED5D7;
  resize: none;
  border-radius: 10px;
  margin: 5px 0; }

.contacto input[type='submit'] {
  font-family: 'Varela Round', sans-serif;
  border: 1px solid #CED5D7;
  box-shadow: 0 0 0 3px #EEF5F7;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold; }

.fotocontacto img {
  border-radius: 30px;
  width: 600px;
  margin-left: 100px; }

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /*footer*/ }
  * body {
    font-family: 'Varela Round', sans-serif; }
  * img.index__foto {
    width: 100%;
    height: auto;
    margin-top: 3px; }
  * footer.footer {
    background-color: #FC9D9A;
    height: auto;
    font-family: 'Varela Round', sans-serif;
    color: #190E09;
    font-size: 0.90rem;
    padding: 30px;
    text-decoration: none; }
    * footer.footer h5 {
      padding-bottom: 10px;
      font-size: 1.2rem;
      font-family: "Lato", sans-serif; }
    * footer.footer .footer__elementos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      align-items: stretch;
      justify-content: stretch; }
      * footer.footer .footer__elementos .footer__elementos--about {
        width: auto;
        padding-bottom: 30px; }
        * footer.footer .footer__elementos .footer__elementos--about p {
          overflow: hidden; }
        * footer.footer .footer__elementos .footer__elementos--about a {
          color: white;
          background-color: #E32D2D;
          padding: 7px;
          text-decoration: none;
          border-radius: 5px; }
    * footer.footer h5.tituloCentrado {
      text-align: center; }
    * footer.footer .footer__elementos--mapa ul {
      list-style: none;
      text-decoration: none;
      color: #190E09;
      text-align: center; }
    * footer.footer .footer__elementos--mapa li a:link {
      text-decoration: none;
      color: #190E09; }
    * footer.footer .footer__elementos--mapa li a:visited {
      text-decoration: none;
      color: #190E09; }
    * footer.footer .footer__elementos--mapa li a:active {
      text-decoration: none;
      color: #190E09; }
    * footer.footer .footer__elementos--mapa li a:hover {
      color: #E32D2D; }
    * footer.footer .footer__elementos--direccion {
      text-align: right; }
      * footer.footer .footer__elementos--direccion a:link {
        text-decoration: none;
        color: #190E09; }
      * footer.footer .footer__elementos--direccion a:visited {
        text-decoration: none;
        color: #190E09; }
      * footer.footer .footer__elementos--direccion a:active {
        text-decoration: none;
        color: #190E09; }
      * footer.footer .footer__elementos--direccion a:hover {
        color: #E32D2D; }

/*section index.html*/
div.productosWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
  font-weight: 500; }

.image {
  margin: 2rem 2rem;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 1rem; }

.image > img {
  width: 100%;
  max-width: 100%;
  vertical-align: top; }

.image:after {
  content: "";
  background-color: rgba(216, 89, 159, 0.75);
  opacity: 0;
  transition: opacity 0.25s ease-in-out; }

.image:after,
.image__caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.image:hover:after {
  opacity: 1; }

.image__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
  z-index: 2;
  opacity: 0; }

.caption__title {
  display: block;
  margin: 2rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 1px solid;
  text-align: center; }

.image__caption--slide-up {
  top: 40%;
  transition: opacity, top, 0.3s ease-in-out; }

.image:hover .image__caption--slide-up {
  top: 0;
  opacity: 1; }

/*Media Queries*/
@media (max-width: 576px) {
  header.headerindex {
    display: flex;
    align-content: center; }
  a.headerindex__menu--link {
    color: #FC9D9A;
    font-family: 'Varela Round', sans-serif;
    font-size: 0.7rem;
    text-decoration: none;
    border-left: solid 1px #E32D2D;
    padding: 15px; }
  div.header__div {
    display: none; }
  nav.headerindex__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin-left: 20px; }
  header.header {
    display: flex;
    align-content: center; }
  div.header__div {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px; }
  nav.menu {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin-left: 20px; }
  a.menu__link {
    color: #E32D2D;
    font-family: 'Varela Round', sans-serif;
    font-size: 0.7rem;
    text-decoration: none;
    border-left: solid 1px #E32D2D;
    padding: 15px; }
  div.productosWrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  main.grillaProductos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 15px; }
  div.grillaMercado {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  .product-card {
    margin: 0px;
    border: none;
    width: 100%; }
  .contactoWrap {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center; }
  .image {
    margin: 0.5rem 0.5rem;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    position: relative; }
  .contacto {
    justify-content: left; }
  footer.footer {
    background-color: #FC9D9A;
    height: auto;
    font-family: 'Varela Round', sans-serif;
    color: #190E09;
    font-size: 0.90rem;
    padding: 30px;
    text-decoration: none; }
    footer.footer h5 {
      padding-bottom: 10px;
      font-size: 1.2rem;
      font-family: 'Lato', sans-serif; }
    footer.footer h5.tituloCentrado {
      text-align: left; }
    footer.footer .footer__elementos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      align-items: stretch;
      justify-content: stretch; }
      footer.footer .footer__elementos .footer__elementos--about {
        width: auto;
        padding-bottom: 30px; }
        footer.footer .footer__elementos .footer__elementos--about p {
          overflow: hidden; }
        footer.footer .footer__elementos .footer__elementos--about a {
          color: white;
          background-color: #E32D2D;
          padding: 7px;
          text-decoration: none;
          border-radius: 5px; }
      footer.footer .footer__elementos .footer__elementos--mapa ul {
        list-style: none;
        text-decoration: none;
        color: #190E09;
        text-align: left;
        margin: 15px 0px; }
      footer.footer .footer__elementos .footer__elementos--mapa li a:link {
        text-decoration: none;
        color: #190E09; }
      footer.footer .footer__elementos .footer__elementos--mapa li a:visited {
        text-decoration: none;
        color: #190E09; }
      footer.footer .footer__elementos .footer__elementos--mapa li a:active {
        text-decoration: none;
        color: #190E09; }
      footer.footer .footer__elementos .footer__elementos--mapa li a:hover {
        color: #E32D2D; }
      footer.footer .footer__elementos .footer__elementos--direccion {
        text-align: left;
        margin: 15px 0px; }
        footer.footer .footer__elementos .footer__elementos--direccion a:link {
          text-decoration: none;
          color: #190E09; }
        footer.footer .footer__elementos .footer__elementos--direccion a:visited {
          text-decoration: none;
          color: #190E09; }
        footer.footer .footer__elementos .footer__elementos--direccion a:active {
          text-decoration: none;
          color: #190E09; }
        footer.footer .footer__elementos .footer__elementos--direccion a:hover {
          color: #E32D2D; }
  .productosWrap {
    display: flex;
    flex-direction: column; } }

@media (max-width: 767.98px) {
  main.mainPanaderia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; }
  div.productosWrap {
    display: flex;
    flex-flow: column wrap; }
  div.grillaMercado {
    display: flex;
    flex-flow: column wrap; }
  .product-card {
    margin: 0px;
    border: none;
    width: 100%; } }

.contactoWrap {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  align-items: center; }

.contacto {
  padding: 45px 45px 20px;
  margin-top: 50px;
  margin-left: 5px;
  font-family: 'Varela Round', sans-serif;
  justify-content: left; }

.mapa {
  width: 400px;
  height: auto; }
